*,
*::before,
*::after {
  box-sizing: border-box; }

figure, body {
  margin: 0;}

@font-face{
  font-family:'Myriad Pro';
  src: url('../../../public/fonts/MYRIADPRO-REGULAR.woff');
}

@font-face{
  font-family:'Marker Felt';
  src: url('../../../public/fonts/Marker_Felt.ttf');
}
@font-face{
  font-family:'Gotham Black';
  src: url('../../../public/fonts/Gotham-Black.otf');
}

.body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  }

.page-container{
    width: 100%;
    background-color: white;
    display: flex;
}

.header {
  width: 190px;
  flex-direction: column;
  border: 0.5px solid #c7c2c2;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  position: relative;
  border-top: none; }
  .header__img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block; }

.burger-button{
  background-color: grey;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  z-index: 6000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  right: 15px;
  top: 15px;
  display: none;
}

.header__logo{
  height: 120px;
}

.nav {
  flex: 1;
  padding-top: 2.5rem; }

.menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  width: 70%;
  margin: 0 auto; }
  .menu__item {
    margin: 1.5rem 0;
    padding-left: 15px; 
    font-family: Helvetica, sans-serif;}
  .menu__link {
    text-decoration: none;
    color: #868686; 
    font-family: 'Myriad Pro';}
  .menu__link:hover {
    color: #00c1c8; /*Referencia*/
    }

.main {
  flex: 5; 
  width: calc(100% - 200px);
  background-color: #f6f6f6;}
  

.menuHo.initial{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
}
.menuHo.initial .menu-top{
  display: flex;
  width:100%;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding:0 20px ;
  
}
.menu-top h2{
  color:#FFA500;
  font-weight: 800;
 
}
  .menuHo__img {
    width: 15%;
    padding: 1.5rem;
    padding-left: 3rem; 
    min-width: 175px;
    min-height: 120px;
    }
  .menuHo__usuario {
    display: flex; 
    border: 1px solid red;
  }
  .menuHo__nombre {
    font-family: 'Myriad Pro';
    color: #868686;
    align-self: center; }

.icono {
  margin-right: .5rem; 
}

.contenido{
  background: #f6f6f6;
}

@media screen and (max-width: 768px){
  .header{
    flex:initial;
    position: fixed;
    width: 100%;
    height: 90px;
    padding-left: 15px;
    background-color: #e5e5e5;
    border: none;
    }
    .header__logo,
    .header__img{
      height: 100%;
      object-fit: contain;
      padding: 5px;
    }
    .header__img{
      width: 30%;
      margin: initial;
    }
    .nav{
      padding: 0;
      top: 90px;
      transform: translateX(-120%);
      position: fixed;
      width: 100%;
      height: calc(100% - 90px);
      z-index: 5000;
      background-color: #e5e5e5;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-duration: 1s;
      }
      .menu{
        align-items: center;
      }
      .menu__link {
        color: #464646; 
        font-size: 20px;}
      .menu__item{
        width: 160px;
      }
      .nav.is-active{
        left: 0px;
        transform: translateX(0%);
      }

    .burger-button{
      display: flex;
    }
    .menuHo__img{
      padding-left: 2rem;
    }

  .main{
    margin-top: 90px;
  }
}

@media screen and (max-width:500px){
  .menuHo__img{
    padding-left: 1rem;
  }
  .menu-top h2{
    font-size: 17px;
    font-weight: 400;
  }
}



.ver__tienda1{
  text-decoration: none;
  color:black;
  font-size: 16px;
  text-align: center;
  display: none;
}
.ver__tienda2{
  text-decoration: none;
  color: #868686;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .ver__tienda2{
    display: none;
    font-size: 1rem;
    
  }
}

@media screen and (min-width: 768px) {
  .ver__tienda1{
    display: block;
    font-size: 1rem;
    color: #868686;
  }
}


.ver__tienda1:hover,.ver__tienda2:hover{
  color: rgb(0, 178, 187);

}