@font-face{
    font-family:'Marker Felt';
    src: url('../fonts/Marker_Felt.ttf');
}

footer{
    background: #00c7ce;
    padding: 20px 0 0 0;
    margin: 0 auto;
    height: 170px;
    width: 100%;
}

.contenedor-footer{
    
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    margin: auto;
}

.content-footeriz {
    width: 25%;
    height: 120px;
    margin: 0px 0 0 33px;
}

.c-logo {
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.c-logo #logofooter{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-footercentro {
    width: 50%;
    text-align: center;
}

input#input-footer {
     font-size: 15px; 
     font-weight: 700;
     padding-left: 20px;
}
input.input-footer {
    width: 60%;
    height:70%;
    border: 1px solid #00b2bb;
    border-radius: 30px;
    padding: 5px 5px;
    outline: none;
    color: #00b2bb;
}


button.btsubs {
    background: #ff9e00;
    color: #e4f4f4;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    width: 30%;
    font-weight: 700;
}

p#n-c-c {
    margin-top: 10px;
    color: #fff;
}

h4#Suscribete {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

p#i{
    margin: 0 10px 0 0;
}

.content-footerder {
    width: 25%;
}

.wrapper-fot{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-fot .contact-fot{
    margin-right: 5px;
}

h1#contactanos {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

img#telefono {
    padding: 0 0 0 0;
}

img#instagram {
    padding: 0 0 0 0;
}
.otros {
    background: #00c7ce;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.c-otros {
    width: 100%;
    display: flex;
}

a#otros {
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width:1200px){
footer {
        background: #00c7ce;
        width: 100%;
        flex-wrap: wrap;
        height: 335px;
        align-items: center;
    }

    .contenedor-footer {
        display: block;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        margin: auto;
    }

    .content-footeriz {
        width: 50%;
        height: 120px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .otros {
        background: #00c7ce;
        width: 100%;
        height: 30px;
        display: flex;
        display: block;
        margin: 0 auto;
    }
    .c-logo{
        width: 100%;
        height: 100%;
    }

    .content-footercentro {
        width: 90%;
        padding: 0; 
        display: block;
        margin: 0 auto;
        height: 22px;
    }
    h4#Suscribete {
        font-size: 12px;
        text-align: center;
    }

    .content-footerder {
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
    .otros {
        background: #00c7ce;
        width: 100%;
        height: 80px;
    }
    .c-otros {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input#input-footer{
        width: 100%;
    }

    input#input-footer{
        font-size: 13px;
    }

    button.btsubs {
        display: block;
        width: 50%;
        margin-top: 5px;
        margin: 0 auto;
    }
    p#n-c-c {
        margin: 0 auto;
        display: block;
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width:425px){
    input#input-footer{
        margin-bottom: 10px;
    }

    button.btsubs{
        margin-bottom: 10px;
    }

    h1#contactanos{
        margin-top: 15px;
    }
}
