@font-face{
    font-family:'Marker Felt';
    src: url('../fonts/Marker_Felt.ttf');
}

footer{
    background: #00c7ce;
    padding: 20px 0 0 0;
    margin: 0 auto;
    height: 170px;
    width: 100%;
}

.contenedor-footer{
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    background: #00c7ce;
}

.content-footeriz {
    width: 100%;
    height: 200px;
}

.c-logo {
    margin: 0 auto;
    width: 50%;
}


.c-logo img{
    height:200px;
    width: 100%;
}

.content-footercentro {
    width: 100%;
    text-align: center;
}
#contenedor-input{
    display: grid;
    grid-column: auto;
}
.contenedor-input{
     font-size: 15px; 
     font-weight: 700;
     display: flex;
     margin: 20px 0;
}
input.input-footer {
    width: 100%;
    border: 1px solid #00b2bb;
    border-radius: 30px;
    padding: 10px;
    margin: 0px 5px;
    outline: none;
    color: #00b2bb;
}

button.btsubs {
    width: 70%;
    background: #ff9e00;
    color: #e4f4f4;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    font-weight: 700;
    margin: 0 5px;
}

p#n-c-c {
    margin-top: 10px;
    color: #fff;
}

.Suscribete {
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
}

p#i{
    margin: 0 10px 0 0;
}

.content-footerder {
    width: 100%;
    display: grid;
}
.content-footerder .contactacnos{
    margin-top: 100px;
}
.wrapper-fot{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-fot .contact-fot{
    width: 10%;
    color:#00b2bb;
    text-align: center;
    text-decoration: none;
    list-style: none;   
}
  .contact-fot i{
      width: 50%;
      padding: 5px 15px ;
      display: flex;
      justify-content: center;
      align-items: center;
      
      text-align: center;
      background-color: #fff;
      border-radius: 10px;
  }

h1#contactanos {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

img#telefono {
    padding: 0 0 0 0;
}

img#instagram {
    padding: 0 0 0 0;
}
.otros {
    background: #00c7ce;
    width: 100%;
    padding: 20px;
    
}
.c-otros {
    width: 100%;
    display: flex;
}

a#otros {
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    text-align: center;
}


@media(max-width:1000px){
    .contenedor-footer{
        grid-template-columns: auto;
        height: 500px;
    }
    .content-footerder .contactacnos{
        margin: 0;
    }
}
@media screen and (max-width:600px){
    .contenedor-footer{
        grid-template-columns: repeat(1,1fr);
        height: 500px;
    }
    .content-footerder .contactacnos{
        margin: 0;
    }
    .content-footeriz {
        height: 150px;
    }
    .c-logo img{
        height: 150px;
    }
    .contenedor-input{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    button.btsubs{
        width: 50%;
        margin:2px auto;
        padding: 5px;
    }
    input.input-footer{
        width: 90%;
        margin: auto;
    }
    .Suscribete {
        font-weight: 300;
    }
    
}
