*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.form-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 50;
    top: -2000px;
    left: 0;
    transition: 1.2s;
    display: flex;
    justify-content: center;
}

.form-container.is-active{
    top: 0;
}

.form-registro{
    width: 400px;
    height: auto;
    max-height: 620px;
    background:white;
    padding: 15px;
    margin-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color:black;
    border:  #ff9e00 15px solid;
    position: relative;
}

.form-registro h4{
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
    color: #00c1c8;
}

.form-registro span{
    position: absolute;
    right: 15px;
    top: 0px;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
    color: orange;
}

.form-registro .controles,
.form-registro .tip-categorias{
    width: 100%;
    height: 45px;
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid #00c1c8;
    color: #00c1c8;
    font-family: 'calibri' ;
    font-size: 18px;
}
.ruc i{   
    position: absolute;
   width: 5%;
   right: 7%;
   color: red;
   padding: 10px;
   font-size: 15px;
}

::-webkit-input-placeholder { 
    color:#00c1c8; 
} 

.form-registro a{
    color: #ff9e00;
    text-decoration: none;
}
.form-registro a:hover{
    color:#00c1c8;
    text-decoration: underline;
}

.form-registro .terminos{
    background-color: black;
}

.form-registro .btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-registro .boton{
    width: 60%;
    color:white;
    background:#ff9e00;
    border:none;
    font-family: 'Nerko One', cursive;
    padding:10px;
    font-size: 20px;
    border-radius: 20px;
}

.anima-boton{
    animation:2s 3 boton ease-in;
}
@keyframes boton{
    50%{
        transform: scale(0.9);
        /* transform: rotate(360deg);transform: rotate(360deg); */
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 320px){
    .form-registro{
        width: 320px;
    }

    .form-registro .boton{
        font-size: 16px;
    }
}