*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:focus{
    outline: none;
}

body{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

body main{
    width: 90%;
    height: 100%;
    padding-top: 20px;
}

main .btn-back-container .btn-back{
    width: 120px;
    height: 50px;
    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

main .btn-back-container .btn-back i{
    margin-right: 5px;
}

main .title-page-container{
    margin-bottom: 40px;
}

main .title-page-container h2{
    font-family: 'Gotham';
    font-size: 40px;
    text-align: center;
    color: #00c7ce;
    text-shadow: 1px 2px 1px grey;
}

main .products-container{
    width: 100%;
}
/* main .products-container .product-card{
    width: 23%;
    height: 400px;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 18px 0px rgba(0,0,0,0.5);
} */
.products-container #products-container-search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px auto;
 }
 .products-container .product{
    background-color: #E5E5E5;
    box-shadow: -1px 2px 24px -5px rgba(0, 0, 0, 0.75);
    width: 20%;
    margin: 10px;
    padding: 10px;
 }
    .product img{
        width:100%;
        height: 300px;
    }
    .product img:hover{
        filter: contrast(90%);
    }
    .product h4{
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }
    .product p{
        width: 90%;
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }
    .product .button-container{
        width: 100%;
        display: flex;
    }
        .button-container button{
            width:70%;
            margin: auto;
            padding: 6px;
            background-color:#FFA500;
            outline: none;
            font-size: 16px;
            color: #fff;
            border: 1px solid #FFA500;
            border-radius: 10px;
        }
        .button-container button:hover{
            background-color:rgba(247, 168, 23, 1)
        }
        .button-container button:active{
            transform: scale(0.9);
        }
 /* Modo Responsivo */
 @media(max-width:1000px){
    .products-container .product{
        width: 40%;
        
    }
 }
 @media(max-width:800px){
    .products-container .product{
        width: 45%;
        
    }
 }
 @media (max-width:500px){
    .products-container .product{
        width: 90%;
        display: grid;
         grid-template-columns: repeat(1,1fr);
     }
 }
/*main .products-container .product-card:hover{
    box-shadow: 5px 5px 18px 0px rgba(255, 170, 43, 0.74);
}
main .products-container .product-card .img-card-container{
    width: 100%;
    height: 55%;
    margin-bottom: 20px;
}
main .products-container .product-card .img-card-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .products-container .product-card h4,
main .products-container .product-card h2,
main .products-container .product-card p{
    width: 100%;
    text-align: center;
}
main .products-container .product-card h4{
    color: blue;
    font-style: italic;
    font-size: 18px;
}
main .products-container .product-card h2{
    color: black;
    font-style: bold;
    font-size: 24px;
    margin-bottom: 8px;
}
main .products-container .product-card p{
    font-size: 16px;
    margin-bottom: 16px;
}
main .products-container .product-card .btn-container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
main .products-container .product-card .btn-container button{
    width: 120px;
    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} */